<main class="page px-4 pb-24">

  <div class="mt-4 header-spacer"></div>

  <div class="mt-4">
    <app-card
      [layout]="'row'"
      [hovereable]="false"
      color-tailwind="bg-[#169b8e] text-white"
    >
      <div card-header class="w-full">
        <div class="flex items-center gap-3 w-full">
          <div class="min-w-0">
            <div class="font-extrabold text-xl">{{ paciente.nombre }}</div>
            <div class="opacity-90">Paciente</div>
          </div>

          <div
            class="w-14 h-14 rounded-full bg-white text-[#169b8e] font-bold grid place-items-center ml-80 shrink-0">
            {{ iniciales }}
          </div>
        </div>
      </div>

      <div card-content></div>
      <div card-actions></div>
    </app-card>
  </div>

  <div class="mt-4">
    <app-button
      text="+ Solicitar Nuevo Turno"
      type="primary"
      width="100%"
      height="56px"
      [bgColor]="'#F26A1B'"
      [txtColor]="'#ffffff'"
      (clicked)="solicitarNuevoTurno()"
    ></app-button>
  </div>

    @for (t of turnos; track t.id) {
      <app-card
        [layout]="'column'"
        [paddingX]="'4rem'"
        [paddingY]="'4rem'"
        [marginY]="'1rem'"
        [hovereable]="true"
        color-tailwind="bg-white"
      >
        <div card-header class="flex items-start gap-2 w-full">
          <div class="w-14 h-14 rounded-xl bg-emerald-100 text-emerald-600 grid place-items-center text-2xl">
            <mat-icon>calendar_today</mat-icon>
          </div>
          <div class="flex-1">
            <h2 class="text-sm sm:text-base md:text-lg font-extrabold text-gray-900 line-clamp-3">
              {{ t.estudio }}
            </h2>
          </div>
          <app-button
            text="{{t.estado}}"
            type="secondary"
            width="100%"
            height="36px"
            [bgColor]="'#c1d6b6'"
            [txtColor]="'rgba(42,104,27,0.68)'"
            [yPad]="'1'"

          ></app-button>
        </div>

        <div card-content>
          <div class="mt-1 flex items-center gap-4 text-gray-700 mt-4">
            <span class="text-xl">🕔</span>
            <span>{{ t.fecha }} a las {{ t.hora }}</span>
          </div>
          <div class="mt-1 flex items-center gap-4 text-gray-700 mt-4">
            <span class="text-xl">👨‍⚕️</span>
            <span>{{ t.doctor }}</span>
          </div>
          <div class="mt-1 flex items-center gap-4 text-gray-700 mt-4">
            <span class="text-xl">📍</span>
            <span>{{ t.sede }}</span>
          </div>
        </div>

        <div card-actions class="w-full mt-2">
          @if (t.advertencias?.length){
            <div style="width: 70%; margin: 0 auto; padding-bottom: 2rem" >
              <app-expansion-panel title="Preparación" [badge]="t.advertencias?.length">
                @if (t.advertencias){
                <app-warning-item [warnings]="t.advertencias"></app-warning-item>
                }

              </app-expansion-panel>
            </div>
          }
          <div class="flex items-center justify-between w-full">


          </div>
          <div style="width: 70%;margin: 0 auto">
          <app-button
            text="Modificar Turno"
            type="secondary"
            width="100%"
            height="48px"
            [bgColor]="'#f1ebeb'"
            [txtColor]="'rgba(0,0,0,0.47)'"
            [yPad]="'1'"
            [xPad]="'1'"

            (clicked)="modificarTurno(t.id)"
          ></app-button>
          </div>
        </div>
      </app-card>
    }

</main>

<button
  aria-label="Ir al inicio"
  (click)="redirect('/home')"
  class="flex align-middle justify-center !fixed !bottom-[calc(1rem+env(safe-area-inset-bottom))] !right-4 !z-50
       !bg-emerald-600 !text-white shadow-lg hover:!bg-emerald-700
       focus:!ring-2 focus:!ring-emerald-500 p-3 rounded-xl cursor-pointer"
>
  <mat-icon>home</mat-icon>
</button>
