<article
  class="card"
  [class.card--row]="layout === 'row'"
  [class.card--column]="layout === 'column'"
  [class.card--hoverable]="hovereable"
  [style.--card-padding-block]="paddingY"
  [style.--card-padding-inline]="paddingX"
  [style.--card-margin-block]="marginY"
  [style.--card-margin-inline]="marginX"
  [style.--card-bg]="resolvedBgColor"
>
  <!-- HEADER -->
  <div class="card__header">
    <ng-content select="[card-header]"></ng-content>
  </div>

  <!-- CONTENT -->
  <div class="card__content">
    <ng-content select="[card-content]"></ng-content>
  </div>

  <!-- ACTIONS -->
  <div class="card__actions">
    <ng-content select="[card-actions]"></ng-content>
  </div>
</article>
