<article
  class="card"
  [ngClass]="colorTailwind"
  [class.card--row]="layout === 'row'"
  [class.card--column]="layout === 'column'"
  [class.card--hoverable]="hovereable"
  [style.padding-block]="paddingY"
  [style.padding-inline]="paddingX"
  [style.margin-block]="marginX"
  [style.margin-inline]="marginY"
>
  <!-- HEADER -->
  <div class="cardheader self-start">
    <ng-content select="[card-header]"></ng-content>
  </div>

  <!-- CONTENT -->
  <div class="cardcontent">
    <ng-content select="[card-content]"></ng-content>
  </div>

  <!-- ACTIONS -->
  <div class="card__actions">
    <ng-content select="[card-actions]"></ng-content>
  </div>
</article>
