/* header.component.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #009688;
  color: white;
  padding: 2rem 1rem;
}

.header-left, .header-right, .header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.header-title {
  text-align: left;
  font-weight: bold;
}
