<mat-accordion class="expansion-accordion">
  <mat-expansion-panel
    hideToggle
    class="expansion-panel"
    #panel="matExpansionPanel"
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
  >
    <mat-expansion-panel-header class="expansion-header">
      <div class="expansion-header__content">
        <div>
          <mat-panel-title class="expansion-title">
            {{ title }}
            @if (badge && badge > 0) {
              <span class="badge" [textContent]="badge"></span>
            }
          </mat-panel-title>

          <mat-panel-description class="expansion-description">
            {{ description }}
          </mat-panel-description>
        </div>

        <mat-icon class="expansion-arrow" [class.is-open]="panel.expanded">
          expand_more
        </mat-icon>
      </div>
    </mat-expansion-panel-header>

    <div class="expansion-body">
      <ng-content></ng-content>
    </div>
  </mat-expansion-panel>
</mat-accordion>
