button {
  font-weight: bold;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.white {
  background-color: white;
}

.primary {
  background-color: var(--brand-primary);
}

.primary-700 {
  background-color: var(--brand-primary-700);
}

.secondary {
  background-color: var(--brand-secondary);
}

.accent {
  background-color: var(--brand-accent);
}

.state-warn {
  background-color: var(--brand-warn);
}

.state-success {
  background-color: var(--brand-success);
}
